In [1]:
import pandas as pd            # For data manipulation
import numpy as np             # For numerical operations
import matplotlib.pyplot as plt # For basic plotting
import seaborn as sns          # For advanced visualization
import requests                # For web scraping
from bs4 import BeautifulSoup  # For parsing HTML

In [1]:
import pandas as pd            # For data manipulation
import numpy as np             # For numerical operations
import matplotlib.pyplot as plt # For basic plotting
import seaborn as sns          # For advanced visualization
import requests                # For web scraping
from bs4 import BeautifulSoup  # For parsing HTML

In [2]:
# 1. Connect to the site
url = "http://quotes.toscrape.com"
response = requests.get(url)

# 2. Parse the content
soup = BeautifulSoup(response.text, 'html.parser')

# 3. Extract data (Find all quotes)
quotes = [q.text for q in soup.find_all('span', class_='text')]
authors = [a.text for a in soup.find_all('small', class_='author')]

# 4. Create the DataFrame
df = pd.DataFrame({'Quote': quotes, 'Author': authors})

###TASK 2: Exploratory Data Analysis (EDA)

In [4]:
# View the first 5 rows
df.head()

                                               Quote           Author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Quote   10 non-null     object
 1   Author  10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [6]:
df.describe()

                                                    Quote           Author
count                                                  10               10
unique                                                 10                8
top     “The world as we have created it is a process ...  Albert Einstein
freq                                                    1                3

In [7]:
df.isnull().sum()

Quote     0
Author    0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.fillna("Unknown")

                                               Quote             Author
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin